*{
margin:0;
padding:0;
box-sizing: border-box;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    border: 2px solid red;
}
body{
    font-family: 'Oswald', sans-serif;
}
header{
    background-color:  #743939;
    min-height: 100vh ;
}
.header-defiz-top{
display: flex;
justify-content: space-between;
padding-top: 48px;
min-height: 60px;
align-items: center;
}
nav ul{
    display:flex;
    min-width: 443px;
    justify-content: space-between;
}
nav ul li {
    list-style: none;
}

/* красим ссылку*/
nav ul li a{
color: #CDCDCD;
}
nav ul li a:hover{/*при наведении мышки на ссылку красится в определенный цвет*/
    border-bottom: 2px solid rgb(27, 29, 139);
    color:blue;
}
.header-info{/* картинкa*//**/
    background-image: url(./img/start-screen-puppy.png);
min-height: 80vh;/**/
min-width: 1280px;
background-repeat: no-repeat;/*Все картинки по умолчанию дублируются на весь жкран это свойство оставляет только одну копию картинки*/
background-position: bottom right;
background-size: contain;
}
.header-info h1{
    font-style: normal;
font-weight: 400;
font-size: 44px;
line-height: 130%;
/* or 57px */
/* color-light-xl */
color: #FFFFFF;
max-width: 330px;

padding-top: 235px;
}
.header-info p{
    font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 160%;
/* or 24px */

/* color-dark-s */

color: #CDCDCD;
 max-width:460px ;

 padding-top: 42px;
}
.header-info button {
    font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 130%;
/* identical to box height, or 22px */

letter-spacing: 0.06em;

/* color-dark-3xl */

color: #292929;
background-color: #F1CDB3;;
padding: 15px 45px;/*расстояние между текстом и краем кнопки*/
margin-top: 48px;/*так как padding уже есть использую margin*/

border-radius: 100px;/*закругление*/
}